# ----------------------------------------
# Flutter / Dart / Pub related
# ----------------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melody/
.melos_tool/
.env

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# API docs
doc/api/

# ----------------------------------------
# macOS / System files
# -------------------------------------
